/* 
Roboto:
https://fonts.googleapis.com/css?family=Roboto
*/
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"); */
